<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-push-ios"
    version="1.4.2">

  <name>PushPlugin</name>
	<author>Bob Easterday</author>

	<description>
		This plugin allows your application to receive push notifications on Android, iOS, WP8 and Windows8 devices.
    Android uses Google Cloud Messaging.
    iOS uses Apple APNS Notifications.
    WP8 uses Microsoft MPNS Notifications.
    Windows8 uses Microsoft WNS Notifications.
	</description>

	<license>MIT</license>

	<js-module src="www/push.js" name="PushNotification">
        <clobbers target="PushNotification" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="PushNotification">
				<param name="ios-package" value="PushPlugin"/>
			</feature>
		</config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        
		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/PushPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/PushPlugin.h" />

	</platform>


</plugin>
